@import "../../styles/variables/variables";

.header--container {
    background-color: $c-white;
    color: $c-black;
    padding: $magicNumber / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - #{$magicNumber} + 1px);
    .quote {
        margin-bottom: $magicNumber;
    }

    @media screen and (min-width: $tablet-breakpoint) {
        min-height: 100vh;

        .quote {
            margin-bottom: $magicNumber / 2;
        }
    }

    @media screen and (min-width: $desktop-breakpoint) {
        padding: $magicNumber;
    }
}
