@import "../../styles/variables/variables";

$offsetSliderDesktop: calc(-50% + #{$magicNumber} * 5);
$offsetSliderMobile: calc(-50% + #{$magicNumber} * 3);

.scroll--container__horizontal {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: $magicNumber;
    padding-left: $magicNumber / 1.5;

    @media screen and (min-width: $tablet-breakpoint) {
        padding-left: $magicNumber * 3;
        margin-bottom: $magicNumber * 2;
    }
    &:before,
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        width: $magicNumber;
        height: 100%;
        z-index: 2;
        background-image: linear-gradient(90deg, rgba($c-black, 1) 0%, rgba($c-black, 0) 100%);
        pointer-events: none;
    }
    &:after {
        left: initial;
        right: 0;
        background-image: linear-gradient(-90deg, rgba($c-black, 1) 0%, rgba($c-black, 1) 20%, rgba($c-black, 0) 100%);
    }
    @media screen and (min-width: $tablet-breakpoint) {
        &:before,
        &:after {
            width: $magicNumber * 4;
        }
    }

    h3 {
        position: relative;
        z-index: 3;
        margin-bottom: $magicNumber;
    }
}
.swiper-container.horizontal {
    // width: 100%;
    // height: 100%;
    // margin-left: auto;
    // margin-right: auto;
    // transform: translateX($offsetSliderMobile);
    width: 100%;
    @media screen and (min-width: $tablet-breakpoint) {
        transform: translateX($offsetSliderDesktop);
        .swiper-pagination.swiper-pagination-progressbar {
            margin-left: calc(50% - #{$magicNumber} * 5);
        }
    }
    .swiper-pagination.swiper-pagination-progressbar {
        // width: 100%;
        // height: 4px;
        @media screen and (max-width: $tablet-breakpoint) {
            display: none;
        }
        transform: translate3d(0, 0, 0);
        z-index: 10;
        transition: 0.3s opacity;
        width: 100%;
        height: 4px;
        left: 0;
        background-color: rgba($c-white, 0.05);
        margin-top: $magicNumber;
        bottom: 0;
        top: inherit;
        position: relative;
        .swiper-pagination-progressbar-fill {
            background-color: rgba($c-white, 0.1);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform: scale(0);
            transform-origin: left top;
        }
    }
}
.swiper-wrapper.horizontal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.experience--container {
    min-width: calc(100vw - (#{$magicNumber} * 2));
    max-width: 100vw;
    padding: $magicNumber / 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $c-grey__medium;
    transition: all 360ms $t-smooth_one;
    opacity: 0.5;

    &.slideIsActive {
        opacity: 1;
        border-color: $c-white;
    }
    .year,
    .location {
        color: $c-grey__almostdark;
        font-family: $font--sans;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 1.5px;
        margin-bottom: $magicNumber / 3;
    }
    .title {
        font-size: 24px;
        line-height: 1.5;
        font-family: $font--sans;

        margin-top: 0;
    }
    .description {
        display: none;
        p {
            font-size: 15px;
            line-height: 1.75;
            font-weight: initial;
        }
    }
    .location {
        justify-self: flex-end;
        margin: $magicNumber 0 0 0;
    }
    @media screen and (min-width: $tablet-breakpoint) {
        min-width: $magicNumber * 8;
        max-width: $magicNumber * 8;
        padding: $magicNumber / 2 $magicNumber / 1.5;

        .description {
            display: inline-block;
        }
        .year,
        .loaction {
            margin-bottom: $magicNumber / 2;
        }
    }
}

body.light-mode {
    .scroll--container__horizontal {
        &:before,
        &:after {
            background-image: linear-gradient(
                90deg,
                rgba($c-white, 1) 0%,
                rgba($c-white, 1) 20%,
                rgba($c-white, 0) 100%
            );
        }
        &:after {
            background-image: linear-gradient(
                -90deg,
                rgba($c-white, 1) 0%,
                rgba($c-white, 1) 20%,
                rgba($c-white, 0) 100%
            );
        }
        .experience--container {
            &.slideIsActive {
                border-color: $c-black;
            }
        }
    }
}
