@import "../variables/variables";

$widthRightCol: 35%;
$widthLeftCol: calc(100% - #{$widthRightCol});

.about-page--wrapper {
    max-width: $s-maxWidthColumnSmall;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: $magicNumber / 4;
    margin: $magicNumber auto;

    @media screen and (min-width: $tablet-breakpoint) {
        padding: $magicNumber;
        flex-direction: row;
    }
    .about--introduction {
        display: flex;
        flex-direction: column;
        padding: $magicNumber / 4;

        .introduction--image {
            background-color: rgba($c-white, 0.1);
        }
        .introduction--text {
            margin-top: $magicNumber;
        }

        @media screen and (min-width: $tablet-breakpoint) {
            width: $widthLeftCol;
            padding: $magicNumber / 2;

            .introduction--text {
                margin-top: $magicNumber * 2;
            }
        }
    }
    .about--sidebar {
        width: $widthRightCol;
        padding: $magicNumber / 2;
        display: none;

        @media screen and (min-width: $tablet-breakpoint) {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            .sidebar--sticky-content {
                position: sticky;
                top: $magicNumber * 3;
                display: flex;
                flex-direction: column;
                .top--content {
                    margin-bottom: $magicNumber / 2;
                    .internal--links {
                        margin-bottom: $magicNumber;
                    }
                    a {
                        display: inherit;
                    }
                }
            }
        }
    }

    .experiences--wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.capabilities--wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: $magicNumber;
    background-color: $c-grey__blackish;
    padding: $magicNumber / 2;
    align-items: center;
    justify-content: center;

    .list--capabilities__horizontal {
        max-width: $s-maxWidthColumn;
        margin: 0 auto;
    }

    @media screen and (min-width: $tablet-breakpoint) {
        margin: $magicNumber * 2 0;
        padding: $magicNumber * 2;
        flex-direction: row;
    }
}

body.light-mode {
    .capabilities--wrapper {
        background-color: $c-grey__light;
    }
}
