@import "../../styles/variables/variables";

.section--selected-projects {
    .section--heading {
        display: flex;
        justify-content: space-between;
        padding: $magicNumber $magicNumber / 2 $magicNumber / 2 $magicNumber / 2;
        flex-direction: column;

        .title,
        .subtitle {
            @include typography__large;
            margin: 0;
            padding: 0;
        }

        .subtitle {
            color: $c-grey__dark;
            margin-top: $magicNumber / 8;
        }

        @media screen and (min-width: $desktop-breakpoint) {
            padding: $magicNumber $magicNumber 0 $magicNumber;
            flex-direction: row;

            .title,
            .subtitle {
                @include typography__large;
            }
            .subtitle {
                margin-top: 0;
            }
        }
    }
}

body.light-mode {
    .section--selected-projects {
        .section--heading {
            p {
                color: $c-grey__medium;
            }
        }
    }
}

.header--container {
    .logo--home {
        position: fixed;
        top: $magicNumber;
        left: $magicNumber;
        z-index: 3;
        height: $magicNumber / 2;
        img {
            height: 100%;
            width: auto;
        }
    }
}
