@import "../../styles/variables/variables";

.section--about {
    display: flex;
    justify-content: space-between;
    padding: $magicNumber;
    flex-direction: column;
    background-color: $c-black;
    min-height: 100vh;
    .about--info {
        @media screen and (min-width: $desktop-breakpoint) {
            max-width: calc(100% - #{$magicNumber} * 6);
            margin: $magicNumber * 3 $magicNumber;
        }
    }
}
.section--selected-projects {
    .section--heading {
        display: flex;
        justify-content: space-between;
        padding: $magicNumber $magicNumber / 2 $magicNumber / 2 $magicNumber / 2;
        flex-direction: column;

        .title,
        .subtitle {
            @include typography__large;
            margin: 0;
            padding: 0;
        }

        .subtitle {
            color: $c-grey__dark;
            margin-top: $magicNumber / 8;
        }

        @media screen and (min-width: $desktop-breakpoint) {
            padding: $magicNumber $magicNumber 0 $magicNumber;
            flex-direction: row;

            .title,
            .subtitle {
                @include typography__large;
            }
            .subtitle {
                margin-top: 0;
            }
        }
    }
}

body.light-mode {
    .section--selected-projects {
        .section--heading {
            p {
                color: $c-grey__medium;
            }
        }
    }
}

.section--services {
    background-color: $c-grey__blackish;
    padding: 0;
    .services--heading {
        width: 100%;
        img {
            width: 100%;
            height: auto;
        }
    }
}

.header--container {
}
