@import "../../styles/variables/variables";

$column--width: $magicNumber;

.section--about {
    display: flex;
    justify-content: space-between;
    padding: $magicNumber;
    flex-direction: column;
    background-color: $c-black;
    min-height: 100vh;
    .about--info {
        @media screen and (min-width: $desktop-breakpoint) {
            max-width: calc(100% - #{$magicNumber} * 6);
            margin: $magicNumber * 3 $magicNumber;
        }
    }
}
.section--selected-projects {
    .section--heading {
        display: flex;
        justify-content: space-between;
        padding: $magicNumber $magicNumber / 2 $magicNumber / 2 $magicNumber / 2;
        flex-direction: column;

        .title,
        .subtitle {
            @include typography__large;
            margin: 0;
            padding: 0;
        }

        .subtitle {
            color: $c-grey__dark;
            margin-top: $magicNumber / 8;
        }

        @media screen and (min-width: $desktop-breakpoint) {
            padding: $magicNumber $magicNumber 0 $magicNumber;
            flex-direction: row;

            .title,
            .subtitle {
                @include typography__large;
            }
            .subtitle {
                margin-top: 0;
            }
        }
    }
}

body.light-mode {
    .section--selected-projects {
        .section--heading {
            p {
                color: $c-grey__medium;
            }
        }
    }
}

.section--services {
    background-color: $c-grey__blackish;
    padding: 0;
    .services--heading {
        width: 100%;
        img {
            width: 100%;
            height: auto;
        }
    }
}

.header--container {
    background-color: $c-red;
    color: $c-black;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: calc(100vh - #{$magicNumber});
    position: relative;
    z-index: 1;

    .information {
        color: $c-white;
        padding: $magicNumber;
        display: flex;
        flex-direction: column;
        width: 60%;
        z-index: 1;
        @media screen and (max-width: $tablet-breakpoint) {
            width: 100%;
        }
        h1 {
            margin-bottom: $magicNumber / 2;
        }
        p {
            margin-right: $magicNumber * 2;
        }
    }
    .mockup {
        height: 100%;
        width: 60%;
        overflow: hidden;
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;
        // padding: $magicNumber;
        // display: flex;
        // justify-content: flex-end;
        // position: absolute;
        // z-index: 0;
        img {
            height: 100%;
            width: auto;
            transform: rotate(-20deg) translate(0, 25%) scale(1);
        }
    }
    @media screen and (min-width: $tablet-breakpoint) {
        height: 100vh;
    }
}

body.light-mode {
    .header--container {
        background-color: #031926;
        .information {
        }
        .canvas--background {
            background-color: $c-white;
        }
    }
}
