// Colors
// ------

$c-black: #000000;
$c-white: #ffffff;
$c-blue: #0000ed;
$c-green: #55ff00;
$c-red: #ff1053;
$c-creme_light: #e2e0dc;
$c-blue_light: #979d9f;
$c-dark-blue: #081925;
$c-grey__light: #f3f3f3;
$c-grey__lidium: #e7e7e7;
$c-grey__medium: #a0a0a0;
$c-grey__almostdark: #535353;
$c-grey__dark: #242424;
$c-grey__blackish: #0d0d0d;
