@import "../../styles/variables/variables";

.body--showcase-item {
    &.video {
        padding: $magicNumber * 2;
    }
}
.frame--top {
    height: $magicNumber / 1.5;
    width: 100%;
    border-radius: 10px 10px 0 0;
    border: 1px solid $c-white;
    display: flex;
    flex-direction: row;
    align-items: center;
    .dot {
        width: $magicNumber / 4;
        height: $magicNumber / 4;
        border-radius: 50%;
        border: 1px solid $c-white;
        margin-right: $magicNumber / 6;
        &:first-child {
            margin-left: $magicNumber / 4;
        }
    }
}

.video--wrapper {
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    video,
    iframe {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: -2px;
    }
    iframe {
        min-height: 75vh;
    }
    &.hasFrame {
        border: 1px solid $c-white;
        border-top: none;
        // margin: $magicNumber * 2;
    }
}

.image--wrapper {
    &.hasFrame {
        border: 1px solid $c-white;
        // margin: $magicNumber * 2;
    }
}
body.light-mode {
    .video--wrapper.hasFrame,
    .image--wrapper.hasFrame,
    .frame--top,
    .frame--top .dot {
        border-color: $c-black;
    }
}
