@import "../../styles/variables/variables";

footer.page--footer {
    background-color: $c-white;
    margin: $magicNumber / 4 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: $s-maxWidthColumn;
    position: relative;
    &.ghost {
        border: 5px solid $c-white;
        background-color: transparent;
    }
    &.dark {
        background-color: $c-black;
    }

    .col__left,
    .col__right {
        display: flex;
        flex-direction: column;
    }
    .col__right {
        margin-bottom: -$magicNumber / 4;
    }
    @media screen and (min-width: $tablet-breakpoint) {
        margin: $magicNumber / 2 0;
        width: calc(100% - #{$magicNumber});
        left: $magicNumber / 2;
        min-height: 50vh;
    }
}
