@import "../../styles/variables/variables";

footer.page--footer {
    background-color: $c-white;
    margin: $magicNumber / 4 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: $s-maxWidthColumn;
    position: relative;
    min-height: 50vh;
    padding: $magicNumber / 2;

    &.ghost {
        border: 1px solid $c-white;
        background-color: transparent;
        margin: 0 $magicNumber / 2 $magicNumber / 2 $magicNumber / 2;
        @media screen and (min-width: $tablet-breakpoint) {
            margin: 0 0 $magicNumber / 2 0;
        }
    }
    &.dark {
        background-color: $c-black;
    }

    .col__left,
    .col__right {
        display: flex;
        flex-direction: column;
    }
    .col__right {
        margin-bottom: -$magicNumber / 4;
    }
    @media screen and (min-width: $tablet-breakpoint) {
        margin: $magicNumber / 2 0;
        width: calc(100% - #{$magicNumber});
        left: $magicNumber / 2;
        min-height: 50vh;

        &.ghost {
            border: 3px solid $c-white;
        }
    }
}
