@import "../../styles/variables/variables";

footer.page--footer {
    background-color: $c-white;
    margin: $magicNumber / 4 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: $s-maxWidthColumn;
    position: relative;
    padding: $magicNumber / 3;
    min-height: 50vh;

    @media screen and (min-width: $mobile-breakpoint) {
        min-height: 50vh;

        padding: $magicNumber / 2;
    }

    &.ghost {
        border: 1px solid $c-white;
        margin: 0 $magicNumber / 2 $magicNumber / 2 $magicNumber / 2;
        background-color: transparent;
        @media screen and (min-width: $tablet-breakpoint) {
            margin: 0 0 $magicNumber / 2 0;
        }
        .information.inverted {
            .author {
                a {
                    color: $c-white;
                }
            }
            .subtitle {
                color: $c-grey__dark;
            }
        }
        .col__right {
            a.link-button__inline {
                color: $c-white;
            }
        }
    }

    .col__left,
    .col__right {
        display: flex;
        flex-direction: column;
    }
    .col__right {
        margin-bottom: -$magicNumber / 4;
        a.link-button__inline {
            color: $c-black;
        }
    }

    @media screen and (min-width: $tablet-breakpoint) {
        margin: 0;
        width: calc(100% - #{$magicNumber} * 2);
        left: $magicNumber;
        min-height: 50vh;

        &.ghost {
            border: 1px solid $c-white;
        }
    }
}

body.light-mode {
    footer.page--footer {
        background-color: $c-black;
        color: $c-white;

        .col__right {
            a.link-button__inline {
                color: $c-white;
            }
        }
        .col__left {
            .author {
                a {
                    color: $c-white;
                }
            }
            .subtitle {
                color: $c-grey__dark;
            }
        }

        &.ghost {
            border-color: $c-black;
            background-color: transparent;

            .col__left {
                background-color: transparent;
            }
            .col__right {
                a.link-button__inline {
                    color: $c-black;
                }
            }
            .inverted {
                .author {
                    a {
                        color: $c-black;
                    }
                }
                .subtitle {
                    color: rgba($c-black, 0.1);
                }
            }
        }
    }
}
