@import "../variables/variables";

$widthRightCol: 35%;
$widthLeftCol: calc(100% - #{$widthRightCol});

.about-page--wrapper {
    max-width: $s-maxWidthColumnSmall;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: $magicNumber / 4;
    margin: $magicNumber auto;

    @media screen and (min-width: $tablet-breakpoint) {
        padding: $magicNumber;
        flex-direction: row;
    }
    .about--introduction {
        display: flex;
        flex-direction: column;
        padding: $magicNumber / 4;

        .introduction--image {
            background-color: rgba($c-white, 0.1);
        }
        .introduction--text {
            margin-top: $magicNumber;
        }

        @media screen and (min-width: $tablet-breakpoint) {
            width: $widthLeftCol;
            padding: $magicNumber / 2;

            .introduction--text {
                margin-top: $magicNumber * 2;
            }
        }
    }
    .about--sidebar {
        width: $widthRightCol;
        padding: $magicNumber / 2;
        display: none;

        @media screen and (min-width: $tablet-breakpoint) {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            .sidebar--sticky-content {
                position: sticky;
                top: $magicNumber * 3;
                display: flex;
                flex-direction: column;
                .top--content {
                    margin-bottom: $magicNumber / 2;
                    .internal--links {
                        margin-bottom: $magicNumber;
                    }
                    a {
                        display: inherit;
                    }
                }
            }
        }
    }
    .capabilities--wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: $magicNumber;

        .capabilities__services,
        .capabilities__technologies {
            width: 100%;

            position: relative;
            padding: $magicNumber / 2;

            // &:before,
            // &:after {
            //     content: "";
            //     position: absolute;
            //     bottom: 0;
            //     left: 0;
            //     right: 0;
            //     width: 100%;
            //     height: $magicNumber * 4;
            //     z-index: 2;
            //     background-image: linear-gradient(0deg, rgba($c-black, 1) 0%, rgba($c-black, 0) 100%);
            //     pointer-events: none;
            // }
            // &:after {
            //     height: $magicNumber * 6;
            //     top: 0;
            //     background-image: linear-gradient(
            //         180deg,
            //         rgba($c-black, 1) 0%,
            //         rgba($c-black, 1) 20%,
            //         rgba($c-black, 0) 100%
            //     );
            // }

            h3 {
                margin: $magicNumber / 4 0 $magicNumber 0;
                z-index: 3;
                @media screen and (min-width: $tablet-breakpoint) {
                    top: $magicNumber / 2;
                    margin: $magicNumber / 2 0 $magicNumber 0;
                }
            }
        }

        @media screen and (min-width: $tablet-breakpoint) {
            margin-top: $magicNumber * 2;
            flex-direction: row;
        }
    }
    .experiences--wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.capabilities__services {
    &:before,
    &:after {
        display: none;
    }
}
