.main-container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: $c-black;
    color: $c-white;
    // padding: $magicNumber / 4 $magicNumber / 4 0 $magicNumber / 4;

    // @media screen and (min-width: $tablet-breakpoint) {
    //     padding: $magicNumber / 3 $magicNumber / 3 0 $magicNumber / 3;
    // }
    // @media screen and (min-width: $desktop-breakpoint) {
    //     padding: $magicNumber / 2 $magicNumber / 2 0 $magicNumber / 2;
    // }

    .main-container--text-container {
        text-align: left;
        hyphens: auto;
        display: flex;
        flex-direction: column;
        height: 100%;

        section {
            &.isActive {
                // TODO Create slide in Animation
            }
        }

        .text-container--projects {
            p {
                margin-top: $magicNumber / 2;
            }
            .text-container__links {
                margin: 0;
                padding: 0;
                columns: 2;
                column-gap: $magicNumber / 2;
                list-style: none;
                width: fit-content;
            }
        }
    }

    .main-container--button {
        background-color: $c-black;
        width: $magicNumber / 2;
        height: $magicNumber;
        position: absolute;
        bottom: $magicNumber / 2;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        a,
        span {
            text-decoration: none;
            color: $c-white;
            //transform: rotate(90deg);
            margin: 0 auto;
            line-height: initial;
        }
    }
    @media screen and (min-width: $desktop-breakpoint) {
        margin-top: 0;
    }
}
