@import "../../styles/variables/variables";

$heightMetadatarow: $heightNavigation * 2;
$widthRightCol: 75%;
$widthLeftCol: calc(100% - #{$widthRightCol});

.project--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    // margin-top: $magicNumber / 2;
    // z-index: 20;
    background-color: $c-black;

    @media screen and (min-width: $tablet-breakpoint) {
        margin-top: $magicNumber / 2;
    }
}
.project--hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: calc(100vh - ((#{$heightMetadatarow} / 2) + (#{$magicNumber} / 2)));
    overflow: hidden;
}

.project--metadata {
    // Fix responsiveness instead of hiding
    display: none;
    flex-direction: row;
    background-color: $c-white;
    color: $c-black;
    margin: $magicNumber / 4;
    padding: $magicNumber / 2 $magicNumber / 2 0 $magicNumber / 2;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    transform: none;
    // z-index: 21;

    .metadata--item {
        min-height: $magicNumber * 1.5;
        padding: 0;
        width: 50%;
        margin-bottom: $magicNumber / 3;
        flex-basis: auto;

        &:last-child {
            margin-bottom: $magicNumber / 3;
        }
        h5 {
            margin: 0 0 $magicNumber / 12 0;
            font-family: $font--sans;
            font-size: 1rem;
            color: $c-grey__medium;
            & + p {
                line-height: 1.25;
            }
        }
    }

    @media screen and (min-width: $tablet-breakpoint) {
        display: flex;
        height: $heightMetadatarow;
        margin: 0 $magicNumber / 2;
        padding: 0 $magicNumber;
        max-width: $s-maxWidthColumn;
        align-items: center;
        align-self: stretch;
        transform: translateY(-$heightMetadatarow / 2);

        .metadata--item {
            flex-grow: 1;
            flex-basis: 0;
            padding: $magicNumber / 2 0 $magicNumber / 4 0;
            margin-bottom: $magicNumber / 3;
        }
    }
    @media screen and (max-width: $small-phone-breakpoint) {
        flex-direction: column;
    }
}

.project--content {
    display: flex;
    flex-direction: column;
    max-width: $s-maxWidthColumn;
    width: 100%;
    position: relative;
    @media screen and (min-width: $tablet-breakpoint) {
        padding: $magicNumber;
    }
}

.content--head {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    height: 100%;

    .head--title {
        margin: $magicNumber / 2;
        width: 100%;

        h1 {
            margin-bottom: $magicNumber / 2;
        }
        @media screen and (min-width: $tablet-breakpoint) {
            margin-left: $magicNumber / 2;

            h1 {
                margin-bottom: $magicNumber;
            }
        }
    }
    .head--tags {
        width: 100%;
        // padding: 0 $magicNumber / 2;
        margin-bottom: $magicNumber;

        @media screen and (min-width: $tablet-breakpoint) {
            margin-bottom: $magicNumber * 2;

            padding: $magicNumber / 2;
        }
    }
    .head--sidebar {
        position: relative;
        width: 100%;
        order: 2;
        padding: $magicNumber / 2;
        margin: $magicNumber / 2;
        border: 1px solid $c-white;

        .sidebar--sticky-content {
            position: relative;
            mix-blend-mode: difference;
            text-align: center;

            // top: $magicNumber / 2;
        }
        @media screen and (min-width: $tablet-breakpoint) {
            border: 0;
            width: $widthLeftCol;
            padding: $magicNumber $magicNumber / 2 ($magicNumber / 2 + 8px) $magicNumber;
            margin: 0;

            .sidebar--sticky-content {
                position: sticky;
                top: $magicNumber / 2;
                text-align: left;
            }
        }
    }
    .head--description {
        width: 100%;
        padding: $magicNumber / 2;
        background-color: rgba($c-white, 0.1);
        padding-bottom: $magicNumber;

        @media screen and (min-width: $tablet-breakpoint) {
            width: $widthRightCol;
            padding: $magicNumber / 2;
            background: transparent;
        }

        h3:nth-child(1) {
            margin-top: 20px;
        }
    }
}

.content--body {
    margin-top: 0;
    position: relative;
    height: 100%;
    .body--showcase-item {
        margin: $magicNumber 0 $magicNumber 0;
        &:first-child {
            margin-top: 0;
        }
        .showcase-item--description {
            width: 100%;
            padding: 0 $magicNumber / 2;
            margin-top: $magicNumber / 2;

            h4 {
                font-family: $font--sans;
                text-transform: uppercase;
                font-size: 15px;
                margin-bottom: $magicNumber / 4;
                line-height: 1.5;
            }
            p.small--text {
                color: $c-grey__medium;
            }

            @media screen and (min-width: $tablet-breakpoint) {
                width: 50%;
                margin: $magicNumber;
                padding: 0 0 $magicNumber / 2 $magicNumber / 2;
                h4 {
                    font-size: 18px;
                    margin-bottom: $magicNumber / 3;
                }
            }
        }
    }
    @media screen and (min-width: $tablet-breakpoint) {
        margin: $magicNumber * 2 0 0 0;
        .body--showcase-item {
            margin: $magicNumber 0 $magicNumber * 1.5 0;
            &:not(:first-child) {
                margin-top: 0;
            }
        }
    }
}
