html {
    box-sizing: border-box;
    border-collapse: collapse;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    background-color: $c-black;
}

* {
    border-collapse: inherit;
}

*,
:after,
:before {
    box-sizing: inherit;
}

:not(body) {
    background-position: 50%;
    background-size: cover;
}

::selection {
    color: $c-white;
    background: $c-black;
}
main {
    ::selection {
        color: $c-black;
        background: $c-white;
    }
}

// Theming

body {
    transition: background-color 360ms $t-smooth_one;
}

body.light-mode {
    background-color: $c-grey__light;
    color: $c-black;
    height: 62px;

    .header--container {
        background-color: $c-grey__light;
        color: $c-black;
        .author a {
            color: $c-black;
        }
    }
    .main-container {
        background-color: $c-white;
        color: $c-black;
    }
    .main-navigation {
        color: $c-black;
        border-color: $c-black;
        .main-navigation--item {
            border-color: $c-black;
            h2 {
                color: $c-black;
            }
        }
    }
}
body.dark-mode {
    // $c-black: $c-white;
    // $c-white: $c-black;

    background-color: $c-black;

    .header--container {
        background-color: $c-black;
        color: $c-white;
        .author a {
            color: $c-white;
        }
    }
}
